@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    width: 100%;
    background-color: black;
    height: 50px;
    padding: 25px 20px 20px 20px;
    display: flex;
    z-index: 1;
}
html{
    scroll-behavior: smooth;
}

.logo {
    width: 300px;
}

.nav {
    padding-top: 15px;
    margin-left: 45%;
}

#link {
    text-decoration: none;
    font-size: 20px;
    margin-right: 38px;
    color: #fff;
    cursor: pointer;
}

main {
    position: relative;
    top: 50px;
    padding-top: 20px;
    z-index: 0;
}

.img-container {
    display: flex;
    height: 450px;
    padding-top: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.95), rgba(19, 14, 14, 1), rgba(102, 107, 108, 1));
    border-bottom: 3px solid gray;
}


.intro {
    margin: 70px 50px 10px 50px;

}

.profile-pic {
    margin: 0px 120px 0px 120px;
    height: 440px;
    width: 440px;
}

.profile-pic img {
    width: 430px;
    height: 430px;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #fff;
    font-size: 30px;
}

.name {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 130px;
    color: #dd1c31;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: left;
    color: white;
}


.social-menu ul {
    position: relative;
    left: 50%;
    top: 14%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: inline;
}

.social-menu ul li {
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab {
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover {
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
    margin: 20px;
}

.social-menu ul li a:hover {
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #E4405F;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #0077b5;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #000;
}

#read-btn {
    position: relative;
    margin-top: 40px;
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
}


.about {
    position: relative;
    height: fit-content;
    background-color: black;
    justify-content: center;
    border-bottom: 3px solid grey;
}

.aboutme {
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
}


#about-btn {
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skills{
    display: flex;
    margin-bottom: 40px;
    margin-top: 30px;
}

.skills img{
    border-radius: 50%;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    transition: box-shadow 0.3s ease; 
}

#html:hover{
    background: transparent; 
    box-shadow: 0 0 100px #E44D26; 
}
#css:hover{
    background: transparent; 
    box-shadow: 0 0 100px #379AD6; 
}
#js:hover{
    background: transparent; 
    box-shadow: 0 0 100px #FCCC00; 
}
#react:hover{
    background: transparent; 
    box-shadow: 0 0 100px #379AD6; 
}
#java:hover{
    background: transparent; 
    box-shadow: 0 0 100px #CCCCCC; 
}
#python:hover{
    background: transparent; 
    box-shadow: 0 0 100px #004E8F; 
}




.title-1,
.title-2,
.title-3 {
    padding: 20px 0 5px 0;
    color: red;
    font-size: 45px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;

}
.title-6 {
    padding: 20px 0 10px 0;
    color: red;
    font-size: 45px;
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 80px;

}

.title-4 {
    padding: 1px 0 10px 0;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: -20px;
}


.education {
    height: 475px;
    padding-top: 10px;
    background: black;
    border-bottom: 3px solid gray;
}

.boards, .project {
    display: flex;
}

.secondary,
.higher-secondary,
.graduation {
    margin: 10px;
    display: inline-block;
    margin-left: 150px;
    margin-top: 10px;
    width: 300px;
    height: fit-content;
    background-color: white;
    perspective: 1000px;
}

.edu-img, .project-img {
    width: 200px;
    height: 200px;
    margin: 10px 20px 0px 50px;
    transform-style: preserve-3d;
    transition: transform 0.5s;

}

.edu-img:hover {
    transform: rotateY(180deg);
}

.project-img:hover {
    transform: rotateY(180deg);
}

.edu-img .edu-front,
.edu-img .edu-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.project-img .project-front,
.project-img .project-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.project-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-back .project-description {
    display: inline-block;
    width: 130%;
    text-align: center;
    padding: 0px;
}

.project-back .project-description p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
}

.project-back .project-description a {
    text-decoration: none;
    background-color: black;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 6px 10px 6px 10px;
}

.project-back .project-description h2 {
    color: black;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.project-back .project-description a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}


.edu-img .edu-back {
    transform: rotateY(180deg);
}

.project-img .project-back {
    transform: rotateY(180deg);
}

.edu-img img {
    width: 200px;
    height: 200px;
    backface-visibility: hidden;
}

.project-img img {
    width: 200px;
    height: 200px;
    backface-visibility: hidden;
}


.board, .project-name {
    text-align: center;
    color: #fff;
    background-color: #dd1c31;
    padding: 10px 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.edu-info {
    margin-top: 6px;
    background-color: red;
    padding: 10px 0px 1px 0px;
}

.edu-info p{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.project-info {
    margin-top: 6px;
    background-color: red;
    padding: 10px 0px 1px 0px;
}

.project-info p {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.projects {
    height: 475px;
    background:linear-gradient(0deg, rgba(102, 107, 108, 1), rgba(19, 14, 14, 1), rgba(0, 0, 0, 0.95));
    border-bottom: 3px solid grey;
}

.experience{
    height: 440PX;
    background: linear-gradient(0deg, rgba(102, 107, 108, 1), rgba(19, 14, 14, 1), rgba(0, 0, 0, 0.95));
    border-bottom: 3px solid grey;
}

.exp-1, .exp-2, .exp-3{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: transparent;
    margin-left: 50px;
    margin-top: 20px;
}

.exp-img{
    width: 200px;
    height: 200px;
    margin-left: 100px;

}

.exp-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.exp-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.exp-info p{
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   text-align: center;
   margin-top: 15px;
}

.services{
    background: linear-gradient(0deg, rgba(102, 107, 108, 1), rgba(19, 14, 14, 1), rgba(0, 0, 0, 0.95));
    border-bottom: 3px solid grey;
    height: 440px;
}

.services-name{
    display: flex;
    gap: 80px;
    margin-left: 220px;
}

.services-name img{
    display: block;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
}

.services-name img:hover{
        transform: scale(1.1)
};

.service-1 h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 100px;
}

.contact-container{
    display: flex;
    margin-left: 5%;
}

.contact{
    height: 470px;
    background-color: black;

}

.title-5 {
    padding: 1px 0 10px 0;
    color: white;
    font-size: 40px;
    text-align: left;
    font-family: 'Roboto Slab', serif;
  
}

.mail-button{
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background-color: red;
    margin-left: 30px;
    color: white;
}

.info-btn{
    margin-top: 40px;
    margin-left: -20px;
}
.contact-info {
    width: fit-content;
    display: block;
    margin-top: 20px;
   margin-left: 50px;
}

.social-icons a {
    margin-right: 5px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.social{
    width: fit-content;
    height: fit-content;
}
.social ul {
    position: relative;
    left: 40%;
    padding: 0;
    width: fit-content;
    height: fit-content;
    margin-top: 20%;
    transform: translate(-50%, -50%);
    display: inline-flex;
}

.social ul li {
    list-style: none;
}

.social ul li .fab {
    font-size: 25px;
    line-height: 50px;
    transition: .3s;
    color: #000;
}

.social ul li .fab:hover {
    color: #fff;
}

.social ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
    margin: 20px;
}

.social ul li a:hover {
    transform: translate(0, -10%);
}

.social ul li:nth-child(1) a:hover {
    background-color: rgba(0, 0, 0, 0.829);
}

.social ul li:nth-child(2) a:hover {
    background-color: #E4405F;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #0077b5;
}

.social ul li:nth-child(4) a:hover {
    background-color: #000;
}

h3{
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}


.container {
    width: 20%;
    margin: 0px 0px 0px 500px;
    padding: 20px;
    background-color:transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
    color: white;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
}

button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #45a049;
}

footer {
    position: static;
    height: 90px;
    padding: 10px 0px 10px 0px;
    background-color: grey;
    

}

.footer-content{
    color: black;
    padding-top: 10px;
    margin-top: 3%;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
}



  